#high-scores {
  float: left;
}
#timer {
  float: right;
  /* margin-top: -50px; */
}
#question {
  text-align: center;
  font-family: "Sriracha", cursive;
  padding-top: 50px;
  width: 500px;
  margin-left: 30%;
}
#welcome {
  text-align: center;
  margin-top: 50px;
  font-family: "Permanent Marker", cursive;
}
#welcome-page {
  text-align: center;
  width: 500px;
  margin-left: 30%;
  padding-top: 50px;
}
#answer-choices {
  text-align: center;
  font-family: "Sriracha", cursive;
  font-size: larger;
  width: 500px;
  margin-left: 30%;
}

button {
  color: blue;
  background-color: lightgray;
  width: 150px;
  height: 50px;
  padding: 10px;
}

.btn-success {
  width: 120px;
  height: 50px;
  padding: 10px;
}

#highScore {
  font-size: 80px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}
